USE [master]
GO
/****** Object:  Database [10Asinifi]    Script Date: 6.06.2023 15:45:01 ******/
CREATE DATABASE [10Asinifi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'10Asinifi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\10Asinifi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'10Asinifi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\10Asinifi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [10Asinifi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [10Asinifi]
GO
/****** Object:  Table [dbo].[bilgi]    Script Date: 6.06.2023 15:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bilgi](
	[id] [int] NOT NULL,
	[adi] [nvarchar](50) NULL,
	[Tel] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_bilgi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guvenlik]    Script Date: 6.06.2023 15:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guvenlik](
	[tc] [nvarchar](11) NOT NULL,
	[adi] [nvarchar](50) NOT NULL,
	[dtarih] [smalldatetime] NOT NULL,
	[sifre] [nvarchar](12) NULL,
 CONSTRAINT [PK_guvenlik] PRIMARY KEY CLUSTERED 
(
	[tc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
